.box-category-wrapper{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-around;

    .box-category{
        background-color: red;
        width: 140px;
    }
}

.box-subcategory-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #subcategory>div{
        background-color: purple;
        height: 50px;
        margin-top: 20px;
        width: 140px;
    }

    #description{
        background-color: aliceblue;
        margin-top: 20px;
        width: 800px;

        >div{
            margin-top: 20px;
        }
    }
}